@use 'sass:math';

//////////////
// var //
//////////////
$header-ht-sm: 68px;
// Theme-dark
$darker: #262d39;
$dark: #262d39;
$gray9: #20242e;
$gray8: #4e5a6c;
$gray7: #545358;
$gray6: #aeaeae;
$bright: #fff;
$max-width: 1280px;
$gutter-lg: 20px;
$gutter: 16px;
$gutter-sm: 10px;
$ht1: #616cd6;
// object class
$bg: $dark;
$h-bg: #2d3e50;
$h-c: #859eb9;
$ico: $gray6;
$ht: #2d3e50;
$ht-inv: #98ebec;
// theme birght
$darker: #262d39;
$dark: #262d39;
$gray9: #20242e;
$gray8: #4e5a6c;
$gray7: #545358;
$gray6: #aeaeae;
$bright: #fff;
$max-width: 1280px;
$gutter-lg: 20px;
$gutter: 16px;
$gutter-sm: 10px;
// object class
$bg: #eceff4;
$h-bg: #2d3e50;
$h-c: #859eb9;
$ico: $gray6;
$ht: #2d3e50;
$ht-inv: #98ebec;
// card
$card-bg: #fff;
$card-t: #3b4f63;
$card-c: #6f8092;
$card-h: #1f3e4c;
$card-alt: #f9fafb;
//theme red
// object class
$bg: #FC705D;
$h-bg: #fff;
$h-c: #FC705D;
$ico: $gray6;
$ht: #2d3e50;
$ht-inv: #98ebec;
// card
$card-bg: #ffffff;
$card-t: #FC705D;
$card-c: #666;
$card-h: #000;
$card-alt: #f9f7f6;
// mixins
@mixin shadow {
  box-shadow: 0 15px 20px 0 #fa381e;
  border: 1px solid #fa381e;
}

@mixin shadow-sm {
  box-shadow: 0 5px 10px 0 #fa381e;
  border: 1px solid #fa381e;
}

// css
[data-theme="cheaty"] {
  color: rgba($bright, 1);
  background: $bg;
  .artboard {
    min-height: 720px;
  }
  @include view-sm {
    padding-top: $header-ht-sm;
    &.scrollstyle {
      .main-head {
        transform: scale(1, 0.4);
        transform-origin: 0 0;
        h1 {
          height: 40px;
          line-height: 40px;
          .ico {
            height: auto;
            line-height: 30px;
            padding-top: 6px;
            svg {
              transform: scale(0.4, 1);
              transform-origin: 0 0;
            }
          }
          small {
            display: none;
          }
        }
      }
    }
  }
  .viewport {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $gutter-lg;
    @include view-sm {
      padding: 0 $gutter-sm;
    }
  }
  .main-footer {
    padding-top: 0;
    padding-bottom: $gutter;
  }
  .fx {
    display: flex;
    justify-content: space-between;
  }
  // head
  .main-head {
    min-height: 135px;
    background-color: $h-bg;
    color: $h-c;
    border-bottom: 1px solid rgba($gray8, 0.2);
    padding-bottom: $gutter;
    &.md {
      min-height: 60px;
      height: 60px;
      padding: 0;
      h1 {
        font-size: 28px;
        line-height: 60px;
        .ico {
          padding: 0;
          vertical-align: top;
        }
      }
    }
    @include ease;
    transition-property: transform;
    will-change: transform;
    transform-origin: 0 0;
    h1 {
      .ico {
        padding-top: 8px;
        display: inline-block;
        vertical-align: middle;
        svg {
          display: block;
          width: 180px;
          @include ease;
          transition-property: transform;
          will-change: transform;
          transform-origin: 0 0;
        }
      }
      small {
        font-size: 2rem;
        line-height: 1.4em;
        vertical-align: middle;
        margin-left: 2*$gutter;
      }
      @include view-sm {
        .ico {
          height: 66px;
          padding-top: 8px;
          vertical-align: top;
          svg {
            display: inline-block;
            width: 120px;
          }
        }
        small {
          line-height: 66px;
          vertical-align: top;
          margin-left: $gutter-sm;
        }
      }
    }
    .gist {
      font-size: 1.4rem;
      padding-top: math.div($gutter, 2);
      line-height: 1.2em;
      color: $card-c;
    }
    @include view-sm {
      min-height: 66px;
      padding: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: 0 0 5px 0 rgba(250, 56, 30, 0.5);
      .gist {
        display: none;
      }
    }
  }
  // main
  .main {
    //deck
    .deck {
      padding: 2*$gutter 0;
      @include view-sm {
        padding: $gutter 0;
      }
    }
    //card
    .card {
      background: $card-bg;
      border-radius: 4px;
      @include shadow;
      padding: $gutter-sm $gutter 0;
      margin-top: 2*$gutter;
      overflow: hidden;
      color: $card-c;
      &:first-child {
        margin-top: 0;
      }
      @include view-sm {
        margin-top: $gutter;
        @include shadow-sm;
      }
      .card-header {
        min-height: $header-ht-sm;
        h2 {
          font-size: 2rem;
          line-height: 1.6em;
          color: $card-t;
        }
        .detail {
          font-size: 1.2rem;
          line-height: 1.4em;
        }
      }
      .card-con {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 -1*$gutter;
        margin-top: math.div($gutter, 2);
        font-size: 1.4rem;
        &.limit-height {
          max-height: 432px;
          overflow: auto;
        }
        .rw {
          min-height: 48px;
          padding: $gutter-sm $gutter;
          align-items: center;
          justify-content: flex-start;
          &:nth-child(odd) {
            background-color: $card-alt;
          }
          .cmd-wrap {
            width: 45%;
            flex: 0 45%;
            color: $card-c;
          }
          .cmd-desc {
            font-size: 1.125rem;
            flex: 0 55%;
          }
          @include view-sm {
            &.fx {
              flex-wrap: wrap;
            }
            .cmd-wrap {
              flex: 1 100%;
              .code {
                font-size: 1.6rem;
              }
            }
            .cmd-desc {
              margin-top: $gutter-sm;
              font-size: 1.2rem;
              flex: 1 100%;
            }
          }
          &.important {
            .cmd-wrap {
              color: $card-h;
            }
            .cmd-desc {
              color: $card-h;
            }
          }
        }
      }
    }
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    display: none;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .loading {
    .loader {
      display: block;
    }
  }
}
