// th-quoty
.th-quoty {
  background-image: radial-gradient(ellipse farthest-corner at 50% -50%, $th-grad2-1 0%, $th-grad2-1 45%, $th-grad2-2 95%) !important;

  .quote {
    position: relative;
    z-index: 1;

    &.frm {
      margin-top: $sp-4x;

      .rw {
        margin-top: $sp-4x;
      }

      .input-row {
        position: relative;
        max-width: 420px;

        .icon-ai-chat {
          color: $white;
        }

        input {
          outline: none;
          background-color: transparent;
          color: rgba($white, 0.6);
          width: 100%;
          border-bottom: 1px solid rgba($white, 0.2);
          line-height: 2rem;
        }
      }

      .lk-send {
        color: $th-beta-wsx3;
        margin-left: $sp-2x;
        width: auto;
        opacity: 0;
        transition: 0.5s;
        border-bottom: 1px dotted $th-beta-wsx3;
        line-height: 1.4rem;

        &.a {
          opacity: 1;
        }

        &:hover {
          border-bottom: 1px solid $th-beta-wsx3;
        }

        &:active {
          @extend :hover;
        }
      }
    }
  }
}